html{
	scroll-behavior: smooth;
	}
nav{
	width:1700px;
	height:7000px
}

scroll-container {
  display: block;
  width: 450px;
  height: 300px;
  overflow-x: scroll;
}
scroll-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 5em;
}
.top{
  width: 100%;
  height: 15%;
	
  margin: -7300px 0px 0px 0px;
  background: #FFF;
  border-bottom: 5px solid orange;
  overflow: inherit;
  z-index: -1;
}
.top img{
  padding-top: 30px;
  padding-left: 10px;
  cursor: pointer;
  margin: 0px 0px 0px 950px;
}
.top h3{
 font-size: 20px;
  color: black;
  display: block;
}
.top d{
  margin-right: -750px;
}
.top b{
cursor: pointer;
}.top c{
  margin-right: -750px;
  cursor: pointer;
}
.top a{
cursor: pointer;
}




.barra{
  font-family: Arial, Helvetica, sans-serif;
  width: 10%;
  height: 9%;
 
  position: fixed;
  margin: -90px 0px 0px -7px;
  transition: .3s all;   
  z-index: 1;
}
.barra u1{
  padding: 0px;
  text-align: center;
}
.barra li{
  transition: .7s all;
}
.barra a{
  text-decoration: none;
  list-style: none;
  
  transition: .3s all;
  font-size: 0px;
  padding: 0px;
}
.barra h2{
  text-align: center;
  color:  white;
  padding: 5px;
  padding-bottom: 5px;
  
  font-size: 0px;
}
.barra img{
  padding-top: 30px;
  padding-left: 10px;
}
.barra:hover{
  width: 45%;
  height: 100%;
  
  background-color: rgba(255,127,0,0.98);
}
.barra:hover h2{
  padding: 10px;
  font-size: 30px;
}
.barra:hover a{
  font-size: 20px;
  color: white;
  
  display: block;
  padding: 20px;
}
.barra:hover img{
  height: 0px;
  
}
.barra:hover li{
  border-top: 1px solid black;
  width: 100%;
}
.barra:hover u1:last-of-type{
   border-bottom: 1px solid black;
}
.barra:hover a:hover{
	
  font-size:  25px;
  padding: 30px 0px;
  background-color: rgba(255,85,10,0.99);
}
.barra:hover a:hover span:hover{
  font-size: 17px;
  color: white;
  border: 1px solid black;
  display: block;
  padding: 20px;
  background-color: rgba(259,90,10,1);
}
.Nombre { 
  font-size: 100px; 
  height: 100px;
  position: relative;
  margin: 100px ;
  overflow: inherit;
  z-index: -1;
}
.Restaurante{
  font-size: 0px;
  margin: -30px 0px 0px 30px;
  
}

.Datos{
  font-family: Arial, Helvetica, sans-serif;
  width: 10%;
  height: 9%;
 
  position: center;
  margin: 200px 0px 0px 500px  
}

.menu{
  font-family: Arial, Helvetica, sans-serif;
  font-size:100;
  position: center;
  margin: -50px 0px 0px 900px;
}
.menu h2{
  font-family: Arial, Helvetica, sans-serif;
  font-size:10;
  position: center;
  margin:100px 0px 0px 0px;
}
.menu h3{
  font-family: Arial, Helvetica, sans-serif;
  font-size:10;
  position: fixed;
  margin: 300px 0px 0px -350px;
}
.Desayunos{
  font-family: Arial, Helvetica, sans-serif;
  font-size:10;
  cursor: pointer;
  margin: 50px 0px 0px 150px;
}
.Desayunos h2{
	position:center;
	margin-bottom:200px;
}
.Hotcakes{
 width: 1450px;
  height: 70%;
	
  margin: -1125px 0px 0px 450px;
  color:white;
  overflow: inherit;
  z-index: -1;
  background-color: rgba(255,85,10,0.99);
}
.Huevos{
  width: 1480px;
  height: 25%;
	
  margin: 100px 0px 0px 417px;
  color:white;
  overflow: inherit;
  z-index: -1;
  background-color: rgba(255,85,10,0.99);
}

.Chilaquiles{
  width: 1420px;
  height: 25%;
	
  margin: 150px 0px 0px 468px;
  color:white;
  overflow: inherit;
  z-index: -1;
  background-color: rgba(255,85,10,0.99);
}
.Omelette{
  width: 1550px;
  height: 25%;
	
  margin: 100px 0px 0px 350px;
  color:white;
  overflow: inherit;
  z-index: -1;
  background-color: rgba(255,85,10,0.99);
}
.EnchiladasSuizas{
  width: 1450px;
  height: 25%;
	
  margin: 130px 0px 0px 450px;
  color:white;
  overflow: inherit;
  z-index: -1;
  background-color: rgba(255,85,10,0.99);
}
.Menu1{
  font-family: Arial, Helvetica, sans-serif;
  font-size:100;
  position: center;
  margin: 300px 0px 0px 900px;
}
.Menu1 img{
  font-family: Arial, Helvetica, sans-serif;
  font-size:10;
  cursor: pointer;
  margin: 50px 0px 0px -750px;
  margin-bottom:5px;
}
.Salpicon{
  width: 1450px;
  height: 25%;
	
  margin: -1050px 0px 0px 450px;
  color:white;
  overflow: inherit;
  z-index: -1;
  background-color: rgba(255,85,10,0.99);
}
.Chilesrellenos{
  width: 1450px;
  height: 25%;
	
  margin: 190px 0px 0px 450px;
  color:white;
  overflow: inherit;
  z-index: -1;
  background-color: rgba(255,85,10,0.99);
}
.pechugaqueso{
  width: 1450px;
  height: 25%;
	
  margin: 190px 0px 0px 450px;
  color:white;
  overflow: inherit;
  z-index: -1;
  background-color: rgba(255,85,10,0.99);
}
.coctelvida{
  width: 1450px;
  height: 25%;
	
  margin: 190px 0px 0px 461px;
  color:white;
  overflow: inherit;
  z-index: -1;
  background-color: rgba(255,85,10,0.99);
}

.Menu2{
  font-family: Arial, Helvetica, sans-serif;
  font-size:100;
  position: center;
  margin: 500px 0px 0px 900px;
}
.Menu2 img{
  font-family: Arial, Helvetica, sans-serif;
  font-size:10;
  cursor: pointer;
  margin: 50px 0px 0px -750px;
  margin-bottom:5px;
}
.Chilesnogada{
  width: 1450px;
  height: 25%;
	
  margin: -780px 0px 0px 461px;
  color:white;
  overflow: inherit;
  z-index: -1;
  background-color: rgba(255,85,10,0.99);
}
.Carnetampiqueña{
  width: 1450px;
  height: 25%;
	
  margin: 150px 0px 0px 450px;
  color:white;
  overflow: inherit;
  z-index: -1;
  background-color: rgba(255,85,10,0.99);
}
.Pozole{
  width: 1450px;
  height: 25%;
	
  margin: 180px 0px 0px 460px;
  color:white;
  overflow: inherit;
  z-index: -1;
  background-color: rgba(255,85,10,0.99);
}
.Menu3{
  font-family: Arial, Helvetica, sans-serif;
  font-size:100;
  position: center;
  margin: 500px 0px 0px 900px;
}
.Menu3 img{
  font-family: Arial, Helvetica, sans-serif;
  font-size:10;
  cursor: pointer;
  margin: 50px 0px 0px -750px;
  margin-bottom:5px;
}